html,body{
    height: 100%;
}
body{
    margin: 0px;
}
/******************************************************************************/

.test-div-a{
    width: 70vh;
    height: 70vh;
    border: @border-basic-a;
}

.spacer{
    height: 1000px;
}

.test-div-response{
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 10%;
    border: @border-basic-a;
}

.test-div-finger-print{
    .test-div-response;
}

.test-basic{
    .test-div-response;
}

/******************************************************************************/

@media (max-width:@LG){

}

@media (max-width:@MD){

}

@media (max-width:@SM){

}

@media (max-width:@XS){

}












