html,body{
    height: 100%;
}

/******************************************************************************/

.test-div-a{
    width: 70vh;
    height: 70vh;
    border: @border-basic-a;
}

.test-div-response{
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 10%;
    border: @border-basic-a;
}

/******************************************************************************/


@media (max-width:@MD){

}

@media (max-width:@XS){

}












